.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--layout-gutter, 20px);
}

@media (min-width: 1024px) and (max-width: 1364px) {
  .container {
    max-width: var(--layout-max-width, 1364px);
  }
}
